---
import Layout from "../layouts/Layout.astro";
import "../styles/main/style.scss";
import "../styles/responsive/style.scss";
---

<a title="Hello, I'm Arnold Daniels">
  <!-- <main> -->
  <div id="app">
    <img id="lines" src="/images/lines.png" alt="lines" />
    <div class="container">
      <nav>
        <section class="clock">
          <span id="time"></span> Lagos, <br />ng wat
        </section>
        <section class="name">AD<span>C</span>ODES</section>
        <section class="directions">
          <ul>
            <li><a href="#about" target="">about</a></li>
            <li><a href="#projects" target="">projects</a></li>
            <li><a href="#contact" target="">contact</a></li>
          </ul>
        </section>
      </nav>
      <main>
        <h1>
          Arnold <br />
          <div>DARASIMI</div>
           Da<span>n</span>iels
        </h1>
      </main>
      <footer>
        <span
          >I am a frontend engineer passionate about building visual experiences
          that tells a story, I love to bridge visual artistry and modern day
          design to acheive this.</span
        >
        <div class="frontend">
          <img
            class="g-back"
            src="/images/green-background.png"
            alt="green-background"
          />
          <div class="f-text">
            <h2 class="frontend_engineer">
              Frontend <br />
               Engineer
            </h2>
            <img class="screw" src="/images/screw.png" alt="screw" />
          </div>
        </div>
      </footer>
    </div>

    <div id="projects">
      <h1>
        I work with a variety of tools and technologies to build interfaces that
        are both functional and visually appealing.
      </h1>

      <h3>
        Se<span>l</span>ected <br />
         Projects
      </h3>
      <section class="cards">
        <div class="card">
          <!-- <div class="hover">
				<div class="upper">
				  <h4 id="h4"></h4>
				  <h6>
					Audiovisual experience about kingship and royalty from the
					Yoruba land in Nigeria
				  </h6>
				</div>
				<button>view live</button>
			  </div> -->
        </div>
      </section>
      <div class="contents" id="about">
        <h4>
          I develop Interfaces <br />
           build experiences and engineer frontend applications
        </h4>
        <h2>
          I work with a variety of tools and technologies to build interfaces
          that are both functional and visually appealing.
        </h2>
        <h5>
          I work with a variety of tools and technologies to build interfaces
          that are both functional and visually appealing.
        </h5>
        <img src="/images/AD.jpeg" alt="Profile Picture" />
      </div>
    </div>

    <div id="contact">
      <h1>
        I'm open to <br />
         work!
      </h1>

      <img src="/images/contact.png" alt="open to work" />

      <footer>
        <h4>
          I am a frontend engineer passionate about building visual experiences
          that tells a story, I love to bridge visual artistry and modern day
          design to acheive this.
        </h4>
        <div>
          <h5>DEVELOPED BY ADCODES</h5>
          <h5>DESIGNED BY LEKANDEV</h5>
        </div>
      </footer>
    </div>
  </div>
  <!-- </main> -->
</a>
