@media screen and (max-width: 1100px) {
  #app {
    #lines {
      display: none;
    }
    .bottom-nav,
    .bottom-nav-open {
      display: block;
      background: black;
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      width: 30%;
      height: 2rem;
      position: fixed;
      bottom: 1rem;
      left: 35%;
      border-radius: 50px;
      z-index: 100;
      .arrow {
        display: flex;
        margin: 4% auto;
        transform: rotate(180deg);
        height: 40%;
        z-index: 1;
      }
      .arrow-active {
        transform: rotate(0deg);
        display: flex;
        margin: 4% auto;
        height: 40%;
        z-index: 1;
      }
      .popup {
        opacity: 0;
      }
      .popup-open {
        position: absolute;
        opacity: 1;
        top: -10rem;
        left: 50%;
        transform: translateX(-50%);
        width: 22rem;
        height: 8rem;
        background: #eeead8;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.6);
        border-radius: 25px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
        font-family: "DEMO";
        font-weight: 100;
        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 100%;
          li {
            list-style: none;
            text-align: center;
            ::after {
              content: "";
              height: 2px;
              width: 100%;
              background: #000;
              color: #000;
            }
            a {
              color: black;
              text-decoration: none;
              text-transform: uppercase;
              line-height: 25.06px;
            }
          }
        }
      }
    }
    .bottom-nav-open {
      animation: pop ease-in-out 1s;
      @keyframes pop {
        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-20px);
        }
        60% {
          transform: translateY(-10px);
        }
      }
    }
    .container {
      height: auto;
      nav {
        .name {
          margin: unset;
        }
        .directions {
          display: none;
        }
      }
      footer {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 5rem;
        > * {
          align-self: flex-start;
        }
        span {
          width: 70%;
        }
        .frontend {
          .f-text {
            .frontend_engineer {
              font-size: 6rem;
            }
          }
        }
      }
    }
    #projects {
      margin-top: 5rem;
      h3 {
        margin-bottom: 5rem;
      }
      section {
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
        gap: 3rem;
        .card {
          img {
            width: 100%;
            // height: 15rem;
            transform: rotate(5deg);
          }
          &:not(:nth-child(1)) img {
            width: 100%;
            height: 15rem;
            transform: rotate(0);
          }
          &:nth-child(even) {
            float: none;
          }
          .hover {
            display: none;
          }
          .hover-small {
            display: block;
            position: relative;
            top: 50%;
            width: 100%;
            & .text,
            button {
              background: rgba(255, 255, 255, 0.65);
              box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
              backdrop-filter: blur(9px);
              -webkit-backdrop-filter: blur(9px);
              border: 1px solid rgba(0, 0, 0, 0.3);
              font-family: "Euclid";
              margin-top: 1rem;
            }
            .text {
              border-top-left-radius: 25px;
              border-bottom-left-radius: 25px;
              border-bottom-right-radius: 25px;
              padding: 3%;
              width: 100%;
              h5 {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 20px;
              }
              h6 {
                font-size: 16px;
                font-weight: normal;
              }
            }
            button {
              padding: 2% 3%;
              border-radius: 25px;
              font-weight: normal;
              font-size: 18px;
              margin-top: 3%;
              margin-left: 3%;
              cursor: pointer;
              a {
                text-decoration: none;
                color: #000;
              }
            }
          }
        }
      }
      .contents {
        img {
          display: none;
        }
      }
    }
    #contact {
      margin-top: 15%;
      footer {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 5%;
        div {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  #app {
    // .bottom-nav,
    // .bottom-nav-open {
    //   .popup-open {
    //     width: 10rem;
    //   }
    // }
    .bottom-nav,
    .bottom-nav-open {
      display: block;
      background: black;
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      width: 30%;
      height: 1.5rem;
      position: fixed;
      bottom: 1rem;
      left: 35%;
      border-radius: 50px;
      z-index: 100;
      .arrow {
        display: flex;
        margin: 6% auto;
        transform: rotate(180deg);
        height: 40%;
      }
      .arrow-active {
        transform: rotate(0deg);
        display: flex;
        margin: 6% auto;
        height: 40%;
      }

      .popup {
        opacity: 0;
      }
      .popup-open {
        position: absolute;
        top: -10rem;
        left: 50%;
        transform: translateX(-50%);
        width: 12rem;
        height: 8rem;
        background: #eeead8;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.6);
        border-radius: 25px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
        font-family: "DEMO";
        font-weight: 100;
        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 100%;
          li {
            list-style: none;
            text-align: center;
            ::after {
              content: "";
              height: 2px;
              width: 100%;
              background: #000;
              color: #000;
            }
            a {
              color: black;
              text-decoration: none;
              text-transform: uppercase;
              line-height: 25.06px;
            }
          }
        }
      }
    }
    .container {
      main {
        h1 {
          font-size: 4rem;
        }
      }
      footer {
        span {
          width: 85%;
        }
        .frontend {
          .f-text {
            & .screw {
              right: 1rem;
              top: 2rem;
            }
            & .frontend_engineer {
              font-size: 4.5rem;
              line-height: 80px;
            }
          }
        }
      }
    }
    #projects {
      margin-top: 1rem;
      h1 {
        font-size: 1.4rem;
      }
      h3 {
        font-size: 4rem;
        margin-top: 1rem;
      }
      .contents {
        h4,
        h2 {
          font-size: 2rem;
        }
        // h5 {
        //   font-size: 1rem;
        //   width: 100%;
        // }
      }
    }
    #contact {
      img {
        margin: 10% 0%;
        width: 100%;
      }
      footer {
        div {
          > * {
            width: 8rem;
          }
        }
      }
    }
  }
}

// {
//   "name": "EduConsult",
//   "image": "/images/edu.AVIF",
//   "desc": "Education platform for students writing external examinations",
//   "link": "https://www.educonsultsng.org/"
// },
